@use "styles/functions" as fn;

.events {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: fn.px-to-rem(5px);
}

.event {
  display: flex;
  align-items: center;
  gap: fn.px-to-rem(3px);
}

.eventIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fn.px-to-rem(25px);
  height: fn.px-to-rem(25px);
}

.eventTime {
  font-weight: 500;
}

.substitution {
  display: flex;
  align-items: center;
  gap: fn.px-to-rem(3px);
}
