@use "styles/functions" as fn;

.button {
  padding: fn.px-to-rem(5px);
  border-radius: 10px;
  color: var(--text-color);
  background-color: var(--accent-color-dark);
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--text-color);
}
