@use "styles/functions" as fn;

.scale {
  display: flex;
  height: fn.px-to-rem(5px);
  border: 2px solid var(--accent-color);
  border-radius: 3px;

  &.rightSide {
    justify-content: flex-end;
  }
}

.scaleResult {
  background-color: var(--accent-color-extra-light);
}
