@use "styles/functions" as fn;

.scale {
  display: flex;
  border: 2px solid var(--accent-color);
  border-radius: 3px;
}

.scaleResult {
  height: fn.px-to-rem(5px);
  background-color: var(--accent-color-extra-light);
}

.rightSide {
  justify-content: flex-end;
}
