@use "styles/functions" as fn;

.container {
  overflow: hidden;
}

.leaguesList {
  display: flex;
  gap: fn.px-to-rem(5px);
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.leaguesList::-webkit-scrollbar {
  display: none;
}

.topLeaguesList {
  display: flex;
  gap: fn.px-to-rem(5px);
}

.message {
  text-align: center;
}
