@use "styles/functions" as fn;

.list-wrap {
  overflow: hidden;
}

.leagues-list {
  display: flex;
  gap: fn.px-to-rem(5px);
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.leagues-list::-webkit-scrollbar {
  display: none;
}

.top-list {
  display: flex;
  gap: fn.px-to-rem(5px);
}

.message {
  text-align: center;
}
