@use "styles/functions" as fn;

.teamLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: fn.px-to-rem(5px);
  width: auto;
  height: auto;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.15);
}

.teamLogoImg {
  width: 100%;
  height: 100%;
}
