@use "styles/functions" as fn;

.detailCard {
  margin-bottom: fn.px-to-rem(40px);
}

.tabs {
  padding-inline-end: fn.px-to-rem(10px);
  margin-inline-start: fn.px-to-rem(15px);
}

.h2h {
  display: flex;
  flex-direction: column;
  gap: fn.px-to-rem(15px);
  padding: fn.px-to-rem(15px) fn.px-to-rem(5px);
  border-radius: 5px;
  background-color: var(--secondary-color);
}
