@use "styles/functions" as fn;

.preview {
  padding: fn.px-to-rem(10px) fn.px-to-rem(5px);
  border-radius: 5px;
  background-color: var(--secondary-color);
  overflow: hidden;
}

.previewList {
  display: flex;
  gap: fn.px-to-rem(20px);
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.previewList::-webkit-scrollbar {
  display: none;
}

.previewCard {
  display: flex;
}

.single {
  justify-content: center;
}

.message {
  font-size: fn.px-to-rem(18px);
  text-align: center;
}
