@use "styles/functions" as fn;

.stadium {
  display: flex;
  align-items: center;
  gap: fn.px-to-rem(10px);
}

.stadiumIcon {
  width: fn.px-to-rem(25px);
  height: fn.px-to-rem(25px);
}

.stadiumDescription {
  margin: 0;
  color: var(--text-color);
}
