@use "styles/functions" as fn;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: fn.px-to-rem(5px);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #a20505;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: #fff;
}
