@use "styles/functions" as fn;

.referee {
  display: flex;
  align-items: center;
  gap: fn.px-to-rem(5px);
}

.refereeIcon {
  width: fn.px-to-rem(20px);
  height: fn.px-to-rem(20px);
}

.refereeName {
  margin: 0;
  color: var(--text-color);
}
