@use "styles/functions" as fn;

.card {
  position: relative;
  box-sizing: border-box;
  width: 70vw;
  padding: fn.px-to-rem(10px) fn.px-to-rem(5px);
  background-color: var(--secondary-color-light);
  text-align: center;
  border-radius: 10px;
}

.title {
  margin: 0 0 fn.px-to-rem(5px);
  font-size: 1rem;
}

.subtitle {
  margin: 0 0 fn.px-to-rem(10px);
  font-size: fn.px-to-rem(14px);
}

.link {
  position: absolute;
  inset: 0;
}
