@use "styles/functions" as fn;

.goalEvent {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: fn.px-to-rem(5px);

  &.awayTeamEvent {
    justify-content: flex-start;
  }
}

.goalDescription {
  margin: 0;
  font-size: fn.px-to-rem(14px);
  text-align: right;

  &.altTextColor {
    color: #e74545;
  }

  &.leftText {
    text-align: left;
  }
}

.goalIcon {
  flex-shrink: 0;
  width: fn.px-to-rem(18px);
  height: fn.px-to-rem(18px);
  fill: var(--text-color);

  &.altIconColor {
    fill: #e74545;
  }

  &.reverse {
    order: -1;
  }
}
