@use "styles/functions" as fn;

.goalEvent {
  display: flex;
  align-items: center;
  gap: fn.px-to-rem(5px);
}

.goalDescription {
  margin: 0;
  font-size: fn.px-to-rem(14px);
}

.goalIcon {
  width: fn.px-to-rem(18px);
  height: fn.px-to-rem(18px);
}

.reverse {
  order: -1;
}
