@use "styles/functions" as fn;

.event {
  display: flex;
  align-items: center;
  gap: fn.px-to-rem(5px);
}

.description {
  margin: 0;
  font-size: fn.px-to-rem(14px);
}

.icon {
  width: fn.px-to-rem(18px);
  height: fn.px-to-rem(18px);
}

.away {
  order: -1;
  justify-content: flex-end;
}
