@use "styles/functions" as fn;
@use "styles/placeholders" as *;

.win,
.loose,
.draw {
  @extend %flex-center;
  padding: fn.px-to-rem(5px);
  width: fn.px-to-rem(12px);
  height: fn.px-to-rem(12px);
  font-size: fn.px-to-rem(10px);
  color: #fff;
  border-radius: 50%;
}

.win {
  background-color: darkgreen;
}

.loose {
  background-color: darkred;
}

.draw {
  background-color: darkgoldenrod;
}
