@use "styles/functions" as fn;

.team {
  display: flex;
  align-items: center;
  gap: fn.px-to-rem(5px);
  padding-left: fn.px-to-rem(3px);
}

.teamLogo {
  flex-shrink: 0;
}

.teamLink {
  color: var(--text-color);
  text-decoration: none;
}

.data {
  text-align: center;
}

.altBg {
  background-color: var(--secondary-color-light);
}
