@use "variables" as v;
@use "functions" as fn;

:root {
  --outside-color: #322b36;

  --primary-color: #0f0017;

  --secondary-color: #1b1b23;
  --secondary-color-dark: #23232a;
  --secondary-color-light: #322b36;

  --text-color: #fff;

  --accent-color: #62208c;
  --accent-color-dark: #44066a;
  --accent-color-light: #68109f;

  --active-nav-color: #ffb700;
}

html {
  font-family: v.$font-family;
  font-size: v.$page-font-size;
}

body {
  margin: 0;
  padding: 0 fn.px-to-rem(5px);
  color: var(--text-color);
  background-color: var(--outside-color);
}
