@use "styles/placeholders" as *;

.search {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.result-list {
  @extend %flex-center;
  flex-wrap: wrap;
  gap: 0.3rem;
  padding: .5rem;
  height: 70vh;
  overflow: auto;

  & > button {
    flex-grow: 1;
    white-space: normal;
  }
}
