@use "styles/functions" as fn;

.table {
  width: 100%;
}

.tableHeader {
  font-size: fn.px-to-rem(14px);
  text-transform: capitalize;
}

.homeTeam,
.awayTeam {
  width: 40%;
}

.value {
  min-width: 15px;
}

.homeData,
.awayData {
  display: flex;
  align-items: center;
  gap: fn.px-to-rem(5px);
  padding: fn.px-to-rem(5px) fn.px-to-rem(10px);
}

.homeData {
  text-align: right;
}

.scale {
  flex-grow: 1;
}
