@use "styles/functions" as fn;

.team {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: fn.px-to-rem(5px);

  &.awayTeam {
    justify-content: flex-start;
  }
}

.teamName {
  flex-shrink: 10;
  margin: 0;
  font-weight: 500;
  text-align: center;
}

.reverse {
  order: 1;
}
