@use "styles/functions" as fn;

.card {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: fn.px-to-rem(5px);

  &:has(.away) {
    justify-content: flex-start;
  }
}

.name {
  margin: 0;
  padding: 0;
  font-weight: 500;
  text-align: center;
}

.away {
  order: 1;
}
