@use "styles/functions" as fn;

.fixture {
  position: relative;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: fn.px-to-rem(10px);
  padding: fn.px-to-rem(10px) fn.px-to-rem(5px);
}

.fixtureTime {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixtureLink {
  position: absolute;
  inset: 0;
}

.lightBg {
  border-radius: 3px;
  background-color: var(--secondary-color-light);
}
