@use "styles/functions" as fn;

.icon {
  padding: fn.px-to-rem(7px) fn.px-to-rem(10px);
  width: fn.px-to-rem(25px);
  height: fn.px-to-rem(25px);
  fill: white;
}

.active > .icon {
  fill: var(--active-nav-color);
}
