@use "styles/functions" as fn;

.live-place {
  margin-bottom: fn.px-to-rem(40px);
}

.fixtures-place {
  position: relative;
}

.tabs-group {
  display: flex;
  gap: fn.px-to-rem(5px);
  padding: 0 fn.px-to-rem(5px) 0 fn.px-to-rem(15px);
}
