@use "styles/functions" as fn;

.matchInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: fn.px-to-rem(2px);
}

.matchTime {
  font-size: fn.px-to-rem(18px);
}

.matchStatus {
  font-size: fn.px-to-rem(14px);
}

.matchStatusLarge {
  font-size: fn.px-to-rem(18px);
}
