@use "styles/functions" as fn;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: fn.px-to-rem(2px);
}

.time {
  margin: 0;
  font-size: fn.px-to-rem(18px);
}

.status {
  margin: 0;
  font-size: fn.px-to-rem(14px);
}

.status-lg {
  margin: 0;
  font-size: fn.px-to-rem(18px);
}
